.inferiors_mask {
  background-color: rgba($color:white, $alpha: 0.75);
  z-index: 1;
  text-align: center;
  padding-top: 5rem;
}

.inferiors_list {
  max-height: 10rem;
  overflow-y: auto;

  &.is_fetching { // 这个类很重要，当在请求远程数据时，禁掉scrollbar，也就禁掉了scroll事件
    overflow-y: hidden;
  }
}