@import 'bulma';

$breakpoint: 768px;
.goal_list {
  .goal_excerpt {
    @include until($breakpoint) {
      width: calc(100% - 2rem);
      margin-right: 1rem;
      margin-left: 1rem;
    }

    @include from($breakpoint) {
      display: inline-block;
      width: calc(50% - 0.5rem);

      &:nth-child(odd) {
        margin-right: 0.5rem;
      }
      &:nth-child(even) {
        margin-left: 0.5rem;
      }
    }

    .post_content {
      height: 3rem;
      overflow:hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}