.column {
  padding: 0.25rem;
  text-align: center;
}

.card_content {
  padding: 0.25rem;
}

.month_card {
  color: #fff;
  font-weight: bold;
  background-color: #000;
}

.placeholder_card {
  visibility: hidden;
}