.column {
  padding: 0.25rem;
  text-align: center;
}

.card_content {
  padding: 0.25rem;
}

.today_card {
  .date {
    color: #fff;
    background-color: #000;
  }
}

.content {
  position: relative;

  .date {
    display: block;
    margin: 0 auto;
    width: 1.5rem;
    border-radius: 0.75rem;
    text-align: center;
  }
  .status {
    position: absolute;
    top: -8px;
    right: -8px;
  }
}

.month_card {
  color: #fff;
  background-color: #000;
  font-weight: bolder;
  width: 3rem;
}

.placeholder {
  visibility: hidden;
}